@font-face {
    font-family: "neumed";
    src: url(src/fonts/NeueHaasDisplay-Medium.ttf);
}

@font-face {
    font-family: "neuroman";
    src: url(src/fonts/NeueHaasDisplay-Roman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neuroman';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;

}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0 2vw;
}

nav {
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.nav2 h4 {
    padding: 1rem 1.5em;
    border: 1px solid #0f0f0f44;
    border-radius: 2rem;
    /* font-weight: 4rem; */
    color: rgba(0, 0, 0, 0.925);
    /* font-size: 100%; */
    transition: all ease 0.3s;
    position: relative;
    overflow: hidden;

}

.nav2 h4::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;


}

.nav2 h4:hover::after {
    bottom: 0;
    border-radius: 50px;
}

.nav2 h4 a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
    font-size: x-large;
    font-weight: bold;

}

.nav2 h4:hover a {
    color: white;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2vw;
    margin-top: 100px;
}

#left h3 {
    width: 23vw;
    font-size: 1.6vw;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    /* letter-spacing: -0.03em; */
    font-family: 'neumed';
}

#center h1 {
    font-size: 10vw;
    /* font-weight: 200; */
    text-align: right;
    line-height: 8vw;
    font-family: neumed;
}

#page1 video {
    border-radius: 30px;
    position: relative;
    width: 100%;
    margin-top: 4vw;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    /* border-radius: 50%; */
    right: 0;
    top: 80vh;
    /* filter: blur(20px); */
    margin-top: 10px;
}

#hero-1 {
    background-color: #FE3D0E;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(30px);
    position: absolute;
}

#hero-2 {
    background-color: #FE3D0E;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3 {
    /* background: linear-gradient(#FE3D0E,#FE3D0E); */
    background-color: #FE3D0E;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Animations */
@keyframes anime1 {

    /* hero-3*/
    from {
        transform: translate(52%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {

    /* hero-2*/
    from {
        transform: translate(0%, 10%);
    }

    to {
        transform: translate(-10%, -5%);
    }
}

/* Page-2 */

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;

}

#con {
    white-space: nowrap;
    /* overflow: hidden; */
    display: inline-block;
    animation-name: move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#moving-text {
    white-space: nowrap;
    overflow: hidden;

}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 9vw;
    font-family: neumed;
    display: inline-block;
}

#thedot {
    height: 70px;
    width: 70px;
    background-color: #FE3D0E;
    border-radius: 50%;
    display: inline-block;
    /* margin-bottom: 2rem; */
    margin: 1vw 3vw;

}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 100vh;
    width: 100%;
    /* background-color: white; */
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

}

#page2-bottom h1 {
    font-family: neumed;
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;

}

.bottom-part2 {
    width: 20%;
    margin-top: 18vw;
    /* background-color: aqua; */
}

.bottom-part2 img {
    width: 100%;
    border-radius: 15px;

}

.bottom-part2 p {
    font-weight: 200;
    font-size: 1vw;
    margin-top: 2vw;
}


#page2 #theAnime {
    height: 32vw;
    width: 32vw;
    background: linear-gradient(to top right, #FE3D0E, #fe8a0e);
    border-radius: 50%;
    position: absolute;
    top: 58%;
    left: 25%;
    filter: blur(20px);
    
    animation-name: the-anime;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes the-anime {
     0% {
        filter: blur(20px);
         transform: translate(10%, -10%) skew(0deg);
     }

     50% {
        filter: blur(25px);
         transform: translate(-10%, 10%) skew(-12deg);
     }

     100% {
        filter: blur(30px);
         transform: translate(10%, -10%) skew(10deg);
     }
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
    
}
#page3 h2 {
    font-family: neumed;
}

.elem{
    height: 150px;
    width: 100%;
    overflow: hidden;
    /* background-color:#f3942f; */
    /* border-top: 1px solid black; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.372);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2{
    font-size: 3vw;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    transition: all ease 0.2s;
    left: 0;
    top: -100%;
}
.elem:hover .overlay{
    top: 0;
}

#elem-container{

}

#fixed-image{
    height: 30vw;
    width: 24vw;
    background-color:antiquewhite;
    border-radius: 30px;
    z-index: 11;
    position: fixed;
    left: 50%;
    top: 15%;
    display: none;
    background-size: cover;
    background-position: center;
}

#btn1 {
    padding: 1rem 1.5rem;
    margin: 4vw 4vw;
    border: 1px solid rgba(0, 0, 0, 0.409);
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 50px;
    transition: all ease 0.3s;
    position: relative;
    overflow: hidden; 
}

#btn1::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#btn1:hover::after{
    bottom: 0;
    border-radius: 50px;
}
#btn1:hover a{
    color: white;
}

#btn1 a{
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 9;
    font-size: x-large;
    /* font-weight: bold; */
    
}

#btn1 .svgItem{
    display: inline-block;
    margin-left: 20px;
}

/* PAGE-4 */






/* PAGE-4 */

#page5{
    height: 80vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 5vw 2vw;
}

/* SWIPER Section */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 30%;
  }

/* SWIPER Section */

#page6 {
    height: 100vh;
    width: 100%;
    /* background-color: #fe8a0e; */
}

#footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;


}

#footer h1{
    font-size: 24vw;
}

#foot-div{
    height: 20vh;
    width: 100%;
    background-color: red;
}


/* FOOTER BOTTOM Section */
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
